@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  height: 100%;
  background-color: #F6F3EE !important;

}

h1,
h2,
h3 {
  font-family: 'Italiana', serif;

}

h1 {
  font-size: 100px !important;
  color: #1A3571 !important;
}

h2 {
  font-size: 50px !important;
}

h3 {
  font-size: 35px !important;
}

.navbar {
  padding: 0 5% !important;
  height: 100px;
  background-color: #E5DCCD !important;
  font-size: 18px;
  color: #000000 !important;
}

.navbar a {
  color: #000;
}

.nav-link:hover, .navbar-brand:hover {
  border-bottom: none !important;
  font-weight: bold;
  color: #000 !important;
  padding: 0;
}
.nav-link:focus {
  font-weight: bold;
}

footer {
  background-color: #1A3571;
}

.containers {
  padding: 5% 8%;
}
/* HOME PAGE */
.header {
  height: 55vh;
  width: 700px;
}
.header p {
  padding-bottom: 5%;
}

.services {
  margin-top: 5%;
  background-color: #CCCDE3;
}

.experience p {
  font-size: 20px !important;
  border-left: solid 4px #1A3571;
  padding-left: 20px;
  margin: 5% !important;
  font-weight: normal !important;
}

p,
a {
  font-family: 'Open Sans', serif;
  font-size: 20px;
  line-height: 1.5;
}

img {
  pointer-events: none;
}

a {
  text-decoration: none !important;
}

a.button {
  border-bottom: solid !important;
  padding: 1.5%;
  margin-top: 10% !important;
  font-size: 20px !important;
  color: #000 !important;
  font-weight: 600;
  transition: 1s !important;
  transition-timing-function: 1s ease-in !important;
}

a.button::before {
  font-family: 'bootstrap-icons';
  content: "\F138";
  padding-right: 2%;
  font-size: 20px;
}

a:hover {
  padding-left: 5%;
}

.img-front {
  width: 80%;
  border-radius: 10%;
}

.bg-holder {
  background-image: url(/bakgrunn.svg);
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  will-change: transform, opacity, filter;
  background-repeat: no-repeat;
  z-index: -1;
  margin: 0;
}

.card-info .card-img,
.card-img-top,
.card-img-bottom {
  width: 35% !important;
  height: auto !important;
  padding: 4% 0 4% 4%;
}

.card {
  border: none !important;
}

.card-info {
  margin: 5% 10%;
  background-color: #DBDECA !important;
}

.card-info .card-body {
  margin: 5%;
}


.projects {
  padding: 2%;
}

.card-project {
  background-color: #E5DCCD !important;
}

.card-project .card-title {
  color: #000 !important;
  border-bottom: 2px solid #000 !important;
  transition: 1s !important;
  transition-timing-function: 1s ease-in !important;
  font-family: 'Playfair Display', serif;
  width: 60%;
}

.card-project .card-body p {
  font-size: 22px;
}

.card-project .card-title:hover {
  color: #000 !important;
  padding-left: 5%;
}

.card-title::after {
  font-family: 'bootstrap-icons';
  content: "\F138";
  justify-content: flex-end;
  padding-left: 5%;
  opacity: 0;
  transition: 1s;
  color: #000;
}

.card-title:hover:after {
  opacity: 1;
  right: 10px;

}

.card-project img {
  padding-right: 5%;
}

.card-project .card-body {
  padding-top: 25%;
}

/* PROJECTS */

/* PROJECT UNDERPAGE */
.border-holder {
  background-image: url(/strek-bakgrunn.svg);
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  will-change: transform, opacity, filter;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  margin: 0;
}

.projects-container {
  padding: 5% 0;
}

.projects-container p {
  width: 60%;
  font-size: 25px;
}

.projects-container .bg-holder {
  width: 50%;
}

.tag {
font-size: 18px;
font-style: italic;

}

.mockup img {
  height: auto;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center !important;
  margin-bottom: 8%;
}

.work {
  background-color: #E5DCCD;
}

figure,
.blockquote-footer {
  background-color: #DBDECA;
  padding: 0 15%;
  font-size: 18px !important;
  color: #000000 !important;
}



/* HOME PAGE - SMALLER SCREEN */
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 50px !important;
  }

  .container {
    padding-top: 10% !important;
  }

  p {
    font-size: 18px;
  }

  .container img {
    margin-top: 8% !important;
  }

  .card-info {
    padding: 0 !important;
    margin: 0;
  }

  .card-info img {
    display: none;
  }

  .card-project .card-body {
    padding-top: 2% !important;
  }

  .row {
    display: block !important;
  }

  footer {
    margin-top: 10% !important;
  }

}